.hero .slide {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 200px;
}

.hero .slide.align-center {
  justify-content: center;
}

.hero .slide.align-right {
  justify-content: flex-end;
}

.hero .slide img {
  position: relative;
  height: 100%;
}

.heading {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 30px; 
}

.heading.align-center {
  align-items: center;
}

.heading.align-right {
  align-items: flex-end;
}

.hero .slide h1,
.hero .slide h2 {
  font-weight: normal;
  padding: 0;
  margin: 0;
}