.navigation {
  height: 50px;
  width: 100%;
  display: flex;
}

.navigation ul {
  display: flex;
  align-items: center;
}

.navigation ul li {
  margin: 0 10px;
}

.navigation.align-right {
  justify-content: flex-end;
}