.navigation {
  height: auto;
  width: 100%;
  display: flex;
}

.navigation.vertical-navigation ul {
  flex-direction: column;
  text-align: left;
  align-items: baseline;
  width: 150px;
  margin-left: 20px;
  padding: 5px 0px;
}

.navigation.vertical-navigation ul li {
  width: 100%;
  padding: 10px 20px;
  margin: 0;
  cursor: pointer;
  overflow: initial;
  box-sizing: border-box;
}

.navigation.vertical-navigation ul li a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.navigation ul {
  display: flex;
  align-items: center;
  padding-left: 0;
  background: lightgray;
}

.navigation ul li {
  margin: 0 10px;
  list-style: none;
}

.navigation.align-right {
  justify-content: flex-end;
}
