.tabs__labels li {
    padding: 10px 10px;
    width: auto;
    border: none;
    outline: none;
    display: inline-block;
    background: silver;
    cursor: pointer;
}

.tabs__labels li.active {
  background: gainsboro;
}

.tabs__labels {
  padding-left: 0;
}

.tabs__labels li a {
    text-decoration: none;
    color: #000;
}
